doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/js.js" type="text/javascript")
  body
  include atama
  main
    block content
  include asi